<h3><a class="btn btn-secondary" href="/task"><i class="fa fa-plus"></i> Create New</a> Task List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.taskNo}}</td>
            <td>{{this.descriptionNo}}</td>
            <td>
                <a href="/task/{{this._id}}"><i class="fa fa-pencil fa-ag" aria-hidden="true"></i></a>
                <a href="/task/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i
                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>